RAWBASIS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 (x64) (http://www.altova.com) by Daoud Urdu (CROW) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:m="http://www.w3.org/1998/Math/MathML" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.60 17/06/2026">
	<xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml3/mathml3.xsd"/>
	<xs:annotation>
		<xs:documentation>
    ================== simpleTypes =====================  
 </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="gen.naamkort" final="restriction">
		<xs:annotation>
			<xs:documentation>Naam van 100 alfanumerieke posities</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gen.naamlang">
		<xs:annotation>
			<xs:documentation>Naam (geen lengtebeperking)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="gen.codeeencijferalgemeen">
		<xs:annotation>
			<xs:documentation>Een eencijferige code van 0 t/m 9</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gen.codeeencijferspeciaal">
		<xs:annotation>
			<xs:documentation>Een eencijferige code van 1 t/m 9</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[1-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>Een tweecijferige code van 00 t/m 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gencodetweecijfer0199">
		<xs:annotation>
			<xs:documentation>Een tweecijferige code 01 t/m 99, 0 op tweede positie is niet toegestaan</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][1-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gen.codetweecijferspeciaal">
		<xs:annotation>
			<xs:documentation>Een tweecijferige code van 10 t/m 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[1-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gen.codeeenoftweecijfer">
		<xs:annotation>
			<xs:documentation>Een eencijferige of tweecijferige code van 0 t/m 99</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]([0-9])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="gen.leegelement">
		<xs:annotation>
			<xs:documentation>Een element zonder inhoud of attributen</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:simpleType name="deficode.positienr">
		<xs:annotation>
			<xs:documentation>De mogelijke waarde waarmee een deficodekolom kan worden aangeduid</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="56"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>
    ================== Niet systeem gebonden elementen en attirbuten =====================  
 </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="guid">
		<xs:annotation>
			<xs:documentation>type guid: GUID string containing A-F 0-9 36 long</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F\d]{8}-([a-fA-F\d]{4}-){3}[a-fA-F\d]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="guid" type="guid">
		<xs:annotation>
			<xs:documentation>attribuut dat kan worden gebruikt voor de unieke identificatie van elementen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="br" type="gen.leegelement">
		<xs:annotation>
			<xs:documentation>XMTML1 (afgeleid): Geforceerd regeleinde (zachte return)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sup" type="xs:string">
		<xs:annotation>
			<xs:documentation>XMTML1 (afgeleid): Superscript (verhoogde tekst)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="sub" type="xs:string">
		<xs:annotation>
			<xs:documentation>XMTML1 (afgeleid): Subscript (verlaagde tekst)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="em" type="xs:string">
		<xs:annotation>
			<xs:documentation>XMTML1 (afgeleid): Emphasis:
element gebruikt om iets te benadrukken (en anders weer te geven) bij: (V/V) cursief (zie Hfd 31). Dit is niet bedoeld voor proefverwijzingen</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Imported names (XHTML1)  ===============================
    </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="Character">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): a single character, as per section 2.2 of [XML]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Length">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): nn for pixels or nn% for percentage length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[-+]?(\d+|\d+(\.\d+)?%)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): one or more digits      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MultiLength">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): pixel, percentage, or relative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[-+]?(\d+|\d+(\.\d+)?%)|[1-9]?(\d+)?\*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Pixels">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): integer representing length in pixels</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="StyleSheet">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Style sheet data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Text">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Used for titles etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="URI">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): a Uniform Resource Identifier, see [RFC2396]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>
    ================== Generic Attributes (XHTML1) ===============================
    </xs:documentation>
	</xs:annotation>
	<xs:attributeGroup name="coreattrs">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): core attributes common to most elements
      id       document-wide unique id
      class    space separated list of classes
      style    associated style info
      title    advisory title/amplification      </xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="class" type="xs:string"/>
		<xs:attribute name="style" type="StyleSheet"/>
		<xs:attribute name="title" type="Text"/>
	</xs:attributeGroup>
	<xs:annotation>
		<xs:documentation>
    ================== Lists (XHTML1) ===========================================
</xs:documentation>
	</xs:annotation>
	<xs:element name="li" type="tekstblok.uitgebreid.std">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): List item: item binnen een opsomming</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ol">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Ordered (numbered) list: opsomming met getallen of letters</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Unordered list: lijst met opsommingstekens</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="li.eenvoudig" type="tekstblok.uitgebreid.std">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): List item: item binnen een opsomming</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ol.eenvoudig">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Ordered (numbered) list: opsomming met getallen of letters</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li.eenvoudig" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul.eenvoudig">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Unordered list: lijst met opsommingstekens</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li.eenvoudig" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="li.catalogus" type="tekstblok.lijst.cat.res">
		<xs:annotation>
			<xs:documentation>XMTHl1: (afgeleid): Unordered list: lijst met opsommingstekens</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ol.catalogus">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Ordered (numbered) list: opsomming met getallen of letters</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li.catalogus" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<!-- aangepast tbv geordende lijst met cijfers of letters -->
		</xs:complexType>
	</xs:element>
	<xs:element name="ul.catalogus">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): Unordered list: lijst met opsommingstekens</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li.catalogus" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Images (XHTML1) ===========================================

    To avoid accessibility problems for people who aren't
    able to see the image, you should provide a text
    description using the alt and longdesc attributes.
    In addition, avoid the use of server-side image maps.
    Note that in this DTD there is no name attribute. That
    is only available in the transitional and frameset DTD.
    </xs:documentation>
	</xs:annotation>
	<xs:element name="img">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attribute name="src" type="URI" use="required"/>
			<xs:attribute name="alt" type="Text" use="required"/>
			<xs:attribute name="longdesc" type="URI"/>
			<xs:attribute name="height" type="Text"/>
			<xs:attribute name="width" type="Text"/>
			<xs:attribute name="usemap" type="URI">
				<xs:annotation>
					<xs:documentation>
          usemap points to a map element which may be in this document
          or an external document, although the latter is not widely supported
          </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Tables (XHTML1) =======================================

    Derived from IETF HTML table standard, see [RFC1942]
    </xs:documentation>
	</xs:annotation>
	<xs:simpleType name="TFrame">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      The border attribute sets the thickness of the frame around the
      table. The default units are screen pixels.

      The frame attribute specifies which parts of the frame around
      the table should be rendered. The values are not the same as
      CALS to avoid a name clash with the valign attribute.
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="void"/>
			<xs:enumeration value="above"/>
			<xs:enumeration value="below"/>
			<xs:enumeration value="hsides"/>
			<xs:enumeration value="lhs"/>
			<xs:enumeration value="rhs"/>
			<xs:enumeration value="vsides"/>
			<xs:enumeration value="box"/>
			<xs:enumeration value="border"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRules">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      The rules attribute defines which rules to draw between cells:

      If rules is absent then assume:
          "none" if border is absent or border="0" otherwise "all"
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="groups"/>
			<xs:enumeration value="rows"/>
			<xs:enumeration value="cols"/>
			<xs:enumeration value="all"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="cellhalign">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      horizontal alignment attributes for cell contents

      char        alignment char, e.g. char=':'
      charoff     offset for alignment char
      </xs:documentation>
		</xs:annotation>
		<xs:attribute name="cellhalign">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char" type="Character"/>
		<xs:attribute name="charoff" type="Length"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="cellvalign">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      vertical alignment attributes for cell contents
      </xs:documentation>
		</xs:annotation>
		<xs:attribute name="cellvalign">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="baseline"/>
					<xs:enumeration value="center"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="table">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caption" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="colspec" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="colgroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="thead" minOccurs="0"/>
				<xs:element ref="tfoot" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="tbody" maxOccurs="unbounded"/>
					<xs:element ref="tr" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attribute name="summary" type="Text"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="border" type="Pixels"/>
			<xs:attribute name="frame" type="TFrame"/>
			<xs:attribute name="rules" type="TRules"/>
			<xs:attribute name="cellspacing" type="Length"/>
			<xs:attribute name="cellpadding" type="Length"/>
			<xs:attribute name="tablestyle">
				<xs:simpleType>
					<xs:restriction base="Text">
						<xs:pattern value="linetable|texttable"/>
						<xs:pattern value="linetablehorizontal"/>
						<xs:pattern value="linetablevertical"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="caption" type="tekstblok.uitgebreid.std">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    Use thead to duplicate headers when breaking table
    across page boundaries, or for static headers when
    tbody sections are rendered in scrolling panel.

    Use tfoot to duplicate footers when breaking table
    across page boundaries, or for static footers when
    tbody sections are rendered in scrolling panel.

    Use multiple tbody sections when rules are needed
    between groups of table rows.
    </xs:documentation>
	</xs:annotation>
	<xs:element name="thead">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attributeGroup ref="cellhalign"/>
			<xs:attributeGroup ref="cellvalign"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tfoot">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attributeGroup ref="cellhalign"/>
			<xs:attributeGroup ref="cellvalign"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attributeGroup ref="cellhalign"/>
			<xs:attributeGroup ref="cellvalign"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="colgroup">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      colgroup groups a set of col elements. It allows you to group
      several semantically related columns together.
      </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="col" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attribute name="span" type="Number" default="1"/>
			<xs:attribute name="width" type="MultiLength"/>
			<xs:attributeGroup ref="cellhalign"/>
			<xs:attributeGroup ref="cellvalign"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      col elements define the alignment properties for cells in
      one or more columns.

      The width attribute specifies the width of the columns, e.g.

          width=64        width in screen pixels
          width=0.5*      relative width of 0.5

      The span attribute causes the attributes of one
      col element to apply to more than one column.
      </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attribute name="span" type="Number" default="1"/>
			<xs:attribute name="width" type="MultiLength"/>
			<xs:attributeGroup ref="cellhalign"/>
			<xs:attributeGroup ref="cellvalign"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="colspec">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tr">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="th"/>
				<xs:element ref="td"/>
			</xs:choice>
			<xs:attributeGroup ref="coreattrs"/>
			<xs:attributeGroup ref="cellhalign"/>
			<xs:attributeGroup ref="cellvalign"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="Scope">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): 
      Scope is simpler than headers attribute for common tables
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="row"/>
			<xs:enumeration value="col"/>
			<xs:enumeration value="rowgroup"/>
			<xs:enumeration value="colgroup"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>
    th is for headers, td for data and for cells acting as both
    </xs:documentation>
	</xs:annotation>
	<xs:element name="th">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="tekstblok.uitgebreid.std">
					<xs:attributeGroup ref="coreattrs"/>
					<xs:attribute name="rowspan" type="Number" default="1"/>
					<xs:attribute name="colspan" type="Number" default="1"/>
					<xs:attributeGroup ref="cellvalign"/>
					<xs:attributeGroup ref="cellhalign"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:annotation>
			<xs:documentation>XHTML1 (afgeleid): </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="tekstblok.vrij">
					<xs:attributeGroup ref="coreattrs"/>
					<xs:attribute name="rowspan" type="Number" default="1"/>
					<xs:attribute name="colspan" type="Text" default="1"/>
					<xs:attributeGroup ref="cellhalign"/>
					<xs:attributeGroup ref="cellvalign"/>
					<xs:attribute name="width" type="Text"/>
					<xs:attribute name="disableborders">
						<xs:simpleType>
							<xs:restriction base="Text">
								<xs:enumeration value="left"/>
								<xs:enumeration value="right"/>
								<xs:enumeration value="top"/>
								<xs:enumeration value="bottom"/>
								<xs:enumeration value="left,right"/>
								<xs:enumeration value="left,top"/>
								<xs:enumeration value="left,bottom"/>
								<xs:enumeration value="right,left"/>
								<xs:enumeration value="right,top"/>
								<xs:enumeration value="right,bottom"/>
								<xs:enumeration value="top,right"/>
								<xs:enumeration value="top,left"/>
								<xs:enumeration value="top,bottom"/>
								<xs:enumeration value="bottom,left"/>
								<xs:enumeration value="bottom,right"/>
								<xs:enumeration value="bottom,top"/>
								<xs:enumeration value="left,top,right"/>
								<xs:enumeration value="left,right,top"/>
								<xs:enumeration value="left,bottom,top"/>
								<xs:enumeration value="left,right,bottom"/>
								<xs:enumeration value="left,top,bottom"/>
								<xs:enumeration value="left,bottom,top"/>
								<xs:enumeration value="right,left,top"/>
								<xs:enumeration value="right,top,left"/>
								<xs:enumeration value="right,top,bottom"/>
								<xs:enumeration value="right,bottom,top"/>
								<xs:enumeration value="right,left,bottom"/>
								<xs:enumeration value="right,bottom,left"/>
								<xs:enumeration value="top,left,bottom"/>
								<xs:enumeration value="top,bottom,left"/>
								<xs:enumeration value="top,right,bottom"/>
								<xs:enumeration value="top,left,right"/>
								<xs:enumeration value="top,right,left"/>
								<xs:enumeration value="top,bottom,right"/>
								<xs:enumeration value="bottom,right,left"/>
								<xs:enumeration value="bottom,left,right"/>
								<xs:enumeration value="bottom,top,left"/>
								<xs:enumeration value="bottom,left,top"/>
								<xs:enumeration value="bottom,top,right"/>
								<xs:enumeration value="bottom,right,top"/>
								<xs:enumeration value="bottom,top,left"/>
								<xs:enumeration value="top,left,bottom,right"/>
								<xs:enumeration value="top,bottom,left,right"/>
								<xs:enumeration value="top,bottom,right,left"/>
								<xs:enumeration value="top,left,right,bottom"/>
								<xs:enumeration value="top,left,bottom,right"/>
								<xs:enumeration value="top,right,left,bottom"/>
								<xs:enumeration value="top,right,bottom,left"/>
								<xs:enumeration value="bottom,top,right,left"/>
								<xs:enumeration value="bottom,top,left,right"/>
								<xs:enumeration value="bottom,right,left,top"/>
								<xs:enumeration value="bottom,right,top,left"/>
								<xs:enumeration value="bottom,left,top,right"/>
								<xs:enumeration value="bottom,left,right,top"/>
								<xs:enumeration value="left,right,top,bottom"/>
								<xs:enumeration value="left,right,bottom,top"/>
								<xs:enumeration value="left,bottom,top,right"/>
								<xs:enumeration value="left,bottom,right,top"/>
								<xs:enumeration value="left,top,bottom,right"/>
								<xs:enumeration value="left,top,right,bottom"/>
								<xs:enumeration value="right,top,bottom,left"/>
								<xs:enumeration value="right,top,left,bottom"/>
								<xs:enumeration value="right,bottom,left,top"/>
								<xs:enumeration value="right,bottom,top,left"/>
								<xs:enumeration value="right,left,top,bottom"/>
								<xs:enumeration value="right,left,bottom,top"/>
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Groep versiecodering ===============================
    </xs:documentation>
	</xs:annotation>
	<xs:element name="versie.id">
		<xs:annotation>
			<xs:documentation>de unieke ID voor elk element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.laatste.mutatie" type="xs:date">
		<xs:annotation>
			<xs:documentation>Datum waarop de informatie waarop de versie informatie betrekking heeft, voor de laatste keer is gemuteerd</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.datum" type="xs:date">
		<xs:annotation>
			<xs:documentation>Datum waarop de status is vastgesteld (c.q. de informatie in deze status is gepubliceerd)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.status" default="concept">
		<xs:annotation>
			<xs:documentation>Status van de versie</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="verplicht"/>
				<xs:enumeration value="concept"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="versie.jaarversie" type="xs:string">
		<xs:annotation>
			<xs:documentation>Geeft de jaarversie aan (jjjj-mm formaat)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.release">
		<xs:annotation>
			<xs:documentation>Geeft de versie van tussentijdse updates aan (jj-mm formaat)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="versie.kenmerk.nieuw">
		<xs:annotation>
			<xs:documentation>Element dat aangeeft dat een beschijving nieuw is vanaf de datum van publicatie</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="versie.datum" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="versie.kenmerk.vervang">
		<xs:annotation>
			<xs:documentation>Element dat aangeeft dat de informatie waarop de versie informatie betrekking heeft, andere reeds aanwezige informatie vervangt</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="verwijzing.bepaling"/>
					<xs:element ref="verwijzing.catalogus"/>
					<xs:element ref="verwijzing.proef"/>
					<xs:element ref="verwijzing.handleiding"/>
				</xs:choice>
				<xs:element ref="versie.datum.verwijzing"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="versie.kenmerk.vervallen">
		<xs:annotation>
			<xs:documentation>Element met datum dat aangeeft dat een beschrijving vervallen is op de atum van publicatie</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="versie.datum" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="versie.datum.verwijzing" type="xs:string">
		<xs:annotation>
			<xs:documentation>Versiedatum in de verwijzing (jjjj-mm)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.datum.vorig">
		<xs:annotation>
			<xs:documentation>Versiedatum van de vorige versie van de gepubliceerde data</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.nummering">
		<xs:annotation>
			<xs:documentation>Element dat de elementen bevat met betrekking tot de versie-nummering</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="versie.nummer"/>
				<xs:element ref="versie.nummer.vorig"/>
				<xs:element ref="versie.datum"/>
				<xs:element ref="versie.datum.vorig"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="versie.nummer.vorig">
		<xs:annotation>
			<xs:documentation>Versienummer van de vorige versie</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.nummer">
		<xs:annotation>
			<xs:documentation>Versienummer van de actuele versie</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="versie.informatie">
		<xs:annotation>
			<xs:documentation>Groep elementen met alle versie informatie</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="versie.datum"/>
				<xs:element ref="versie.nummering"/>
				<xs:element ref="versie.id"/>
				<xs:element ref="versie.status"/>
				<xs:element ref="versie.jaarversie"/>
				<xs:element ref="versie.release"/>
				<xs:element ref="versie.laatste.mutatie"/>
				<xs:element ref="versie.kenmerk.vervallen" minOccurs="0"/>
				<xs:element ref="versie.kenmerk.nieuw" minOccurs="0"/>
				<xs:element ref="versie.kenmerk.vervang" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Groepen algemene elementen ===============================
    </xs:documentation>
	</xs:annotation>
	<xs:element name="versie.info.boom">
		<xs:annotation>
			<xs:documentation>verkorte versie-informatie voor elementen uit de verschllende delen van de systematiek, standaard, cat. resultaatsbeschrivingen en cat.bepalingen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="versie.id"/>
				<xs:element ref="versie.release"/>
				<xs:element ref="versie.jaarversie"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation/>
	<xs:group name="grp.begrip">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op begrippen</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="begrip"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.verwijzingen">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op verwijzingen</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="verwijzing.bepaling"/>
			<xs:element ref="verwijzing.proef"/>
			<xs:element ref="verwijzing.catalogus"/>
			<xs:element ref="verwijzing.handleiding"/>
			<xs:element ref="verwijzing.extern"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.lists">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op opsommingen</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ul"/>
			<xs:element ref="ol"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.lists.eenvoudig">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op eenvoudige opsommingen</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ul.eenvoudig"/>
			<xs:element ref="ol.eenvoudig"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.lists.catalogus">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op opsommingen in de catalogus</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="ul.catalogus"/>
			<xs:element ref="ol.catalogus"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.tables">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op de diverse onderdelen van tabellen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="tabel.aanduiding" minOccurs="0"/>
			<xs:element ref="table"/>
			<xs:element ref="tabel.voettekst" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="grp.regelopmaak">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op de regelopmaak</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="br"/>
			<xs:element ref="em"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.figuur">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op figuren</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="img" maxOccurs="unbounded"/>
			<xs:element ref="figuur.naam" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="grp.supersub">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op het super / sub weergeven van tekst</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="sup" maxOccurs="unbounded"/>
			<xs:element ref="sub" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.koppen">
		<xs:annotation>
			<xs:documentation>Groep met elementen met koppen deze kunnen worden gebruikt in proeven en bijlagen</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="kop.1"/>
			<xs:element ref="kop.2"/>
			<xs:element ref="kop.3"/>
			<xs:element ref="kop.4"/>
		</xs:choice>
	</xs:group>
	<xs:group name="grp.bestekschrijver">
		<xs:annotation>
			<xs:documentation>Groep met elementen die betrekking hebben op onderdelen die door bestekschrijvers kunnen worden ingevuld</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="bestekschrijvers.invultekst" maxOccurs="unbounded"/>
			<xs:element ref="bestekschrijvers.vrijetekst" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>
	<xs:annotation>
		<xs:documentation>
    ================== Groep tekstblok =====================  
   </xs:documentation>
	</xs:annotation>
	<xs:complexType name="tekstblok.vrij" mixed="true">
		<xs:annotation>
			<xs:documentation>Elementen van dit type kunnen diverse andere opmaakelementen bevatten, dit tekstblok kan tevens 4 niveaus van koppen bevatten ivm proeven en bijlagen bij hoofdstukken</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.lists"/>
			<xs:group ref="grp.verwijzingen"/>
			<xs:group ref="grp.tables"/>
			<xs:group ref="grp.figuur"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:element ref="formule"/>
			<xs:group ref="grp.koppen"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.hnl" mixed="true">
		<xs:annotation>
			<xs:documentation>Elementen van dit type kunnen diverse andere opmaakelementen bevatten, dit tekstblok kan tevens 4 niveaus van koppen bevatten</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.lists"/>
			<xs:group ref="grp.tables"/>
			<xs:group ref="grp.figuur"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.verwijzingen"/>
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.koppen"/>
			<xs:element ref="formule"/>
			<xs:element ref="citaat"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.uitgebreid.std" mixed="true">
		<xs:annotation>
			<xs:documentation>Elementen van dit type kunnen diverse andere opmaakelementen bevatten, aanwijzingsteksten kunnen hier niet worden toegepast</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="begrip"/>
			<xs:group ref="grp.lists"/>
			<xs:group ref="grp.verwijzingen"/>
			<xs:group ref="grp.tables"/>
			<xs:group ref="grp.figuur"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:element ref="formule"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.uitgebreid" mixed="true">
		<xs:annotation>
			<xs:documentation>Elementen van dit type kunnen diverse andere opmaakelementen bevatten, verschil met tekstblok.uitgebreid-stand  is dat hier aanwijzingstekst kan worden toegepast</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.begrip"/>
			<xs:group ref="grp.lists"/>
			<xs:group ref="grp.verwijzingen"/>
			<xs:group ref="grp.tables"/>
			<xs:group ref="grp.figuur"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:element ref="formule"/>
			<xs:element ref="aanwijzings.tekst"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.eenvoudig" mixed="true">
		<xs:annotation>
			<xs:documentation>Elementen van dit type kunnen diverse andere elementen bevatten</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.lists.catalogus"/>
			<xs:group ref="grp.verwijzingen"/>
			<xs:element ref="bouwstof"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.catalogus" mixed="true">
		<xs:annotation>
			<xs:documentation>De vaste en variabele teksten binnen een deficode</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="aanwijzings.tekst"/>
			<xs:element ref="bestekschrijvers.invultekst"/>
			<xs:element ref="bestekschrijvers.vrijetekst"/>
			<xs:element ref="bouwstof"/>
			<xs:group ref="grp.verwijzingen"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.lists.catalogus"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.naamlang" mixed="true">
		<xs:annotation>
			<xs:documentation>De elementen die voor kunnen komen in de naam van een artikel, een figuur, een proef of een tabel.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.regelopmaak"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tekstblok.lijst.cat.res" mixed="true">
		<xs:annotation>
			<xs:documentation>Elementen van dit type worden toegepast in opsommingen.
</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.verwijzingen"/>
			<xs:group ref="grp.tables"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.bestekschrijver"/>
			<xs:element ref="aanwijzings.tekst"/>
			<xs:element ref="bouwstof"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="hoofdcode.hoofdtekst" mixed="true">
		<xs:annotation>
			<xs:documentation>Complextype voor de resultaatbeschrijving's hoofdcode.hoofdtekst</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.regelopmaak"/>
			<xs:element ref="bestekschrijvers.vrijetekst"/>
			<xs:element name="aanwijzings.tekst" type="hoofdtekst.aanwijzings.tekst"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="hoofdtekst.aanwijzings.tekst" mixed="true">
		<xs:annotation>
			<xs:documentation>Aanwijzingstekst binnen een hoofdtekst</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="grp.regelopmaak"/>
			<xs:group ref="grp.supersub"/>
			<xs:group ref="grp.lists.eenvoudig"/>
			<xs:group ref="grp.verwijzingen"/>
		</xs:choice>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>
    ================== Semantische elementen =====================  
   </xs:documentation>
	</xs:annotation>
	<xs:element name="kop.1">
		<xs:annotation>
			<xs:documentation>Kop van niveau 1 (t.b.v. proeven, bijlagen en de handleiding)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tekstblok.naamlang">
					<xs:attribute ref="guid"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kop.2">
		<xs:annotation>
			<xs:documentation>Kop van niveau 2 (t.b.v. proeven, bijlagen en de handleiding)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tekstblok.naamlang">
					<xs:attribute ref="guid"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kop.3">
		<xs:annotation>
			<xs:documentation>Kop van niveau 3 (t.b.v. proeven, bijlagen en de handleiding)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tekstblok.naamlang">
					<xs:attribute ref="guid"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="kop.4">
		<xs:annotation>
			<xs:documentation>Kop van niveau 4 (t.b.v. proeven, bijlagen en de handleiding)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="tekstblok.naamlang">
					<xs:attribute ref="guid"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="begrip">
		<xs:annotation>
			<xs:documentation>Samengesteld element bestaande uit de naam van het begrip en de beschrijving ervan</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="begrip.naam"/>
				<xs:element ref="begrip.beschrijving" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="begrip.beschrijving" type="tekstblok.uitgebreid.std">
		<xs:annotation>
			<xs:documentation>Beschrijving van een begrip</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="begrip.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>Naam van het begrip</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="aanwijzings.tekst" type="hoofdtekst.aanwijzings.tekst">
		<xs:annotation>
			<xs:documentation>Element waarmee aanwijzingen kunnen worden toegevoegd</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="deel.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>Element waarmee de naam van een besteksdeel kan worden aangegeven</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="citaat" type="tekstblok.hnl">
		<xs:annotation>
			<xs:documentation>Element waarmee kan worden aangegeven dat de inhoud een citaat is</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Systeemgebonden algemene elementen =====================  
 </xs:documentation>
	</xs:annotation>
	<xs:element name="eenheid">
		<xs:annotation>
			<xs:documentation>Eenheid bij een hoeveelheid</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="4"/>
				<xs:pattern value="([a-zA-Z1-9*/])*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Elementen met verwijzingen binnen de systematiek ===========  
  </xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Verwijzingen naar en binnen de Standaard, het ABB of Deel 3 van een bestek</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Attributen die worden gebruikt binnen de verwijzingen binnen de Standaard, het ABB of Deel 3 van een bestek</xs:documentation>
	</xs:annotation>
	<xs:attribute name="hfd" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een hoofdstuknummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="dlhfd" type="gen.codeeencijferalgemeen">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een deelhoofdstuknummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="par" type="gen.codeeencijferspeciaal">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een paragraafnummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="art" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een artikelnummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="lid">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een lid.nr</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="ann">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een annotatienummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="tbl">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een tabelnummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="fig">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een figuurnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="2"/>
				<xs:pattern value="[0-9][0-9]*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="prf" type="xs:string">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een proefnummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="documentsoortbepaling" default="standaard">
		<xs:annotation>
			<xs:documentation>Attribuut waarmee wordt aangegeven in wat voor een soort document de bepaling waarnaar wordt verwezen voorkomt:
- standaard (de Standaard)
- abb (het algemeen besteksbestand)
- bestek (deel 3 van het bestek)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="standaard"/>
				<xs:enumeration value="abb"/>
				<xs:enumeration value="bestek"/>
				<xs:enumeration value="catalogus bepalingen"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="verwijzing.bepaling">
		<xs:annotation>
			<xs:documentation>Verwijzing naar hoofstuk, deelhoofdstuk, artikel paragraaf, lid, tabel, figuur of annotatie in de Standaard, het ABB of deel 3 van een bestek</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="documentsoortbepaling" use="optional"/>
					<xs:attribute name="hfd" use="required"/>
					<xs:attribute name="dlhfd" use="optional"/>
					<xs:attribute name="par" use="optional"/>
					<xs:attribute name="art" use="optional"/>
					<xs:attribute name="lid" use="optional"/>
					<xs:attribute name="tbl" use="optional"/>
					<xs:attribute name="fig" use="optional"/>
					<xs:attribute name="ann" use="optional"/>
					<xs:attribute ref="prf"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="verwijzing.proef">
		<xs:annotation>
			<xs:documentation>Verwijzing naar een proef of een figuur bij een proef in de Standaard, het ABB of deel 3 van een bestek</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="documentsoortbepaling" use="required"/>
					<xs:attribute name="prf" use="required"/>
					<xs:attribute name="fig" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="verwijzing.extern">
		<xs:annotation>
			<xs:documentation>Verwijzing naar een extern document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="externsoort" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="norm"/>
								<xs:enumeration value="administratievevoorwaarden"/>
								<xs:enumeration value="aanbestedingsreglement"/>
								<xs:enumeration value="anders"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extern_uri" type="xs:anyURI" use="optional">
						<xs:annotation>
							<xs:documentation>Hier kan een verwijzing naar de URI van een extern document worden ingegeven (bijvoorbeeld http://www.uav1989.nl/paragraaf.aspx?p=1)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>Verwijzingen naar en binnen de Catalogus</xs:documentation>
	</xs:annotation>
	<xs:attribute name="wcat" type="gen.codetweecijferspeciaal">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een werkcategorienummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="subwcat" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar een subwerkcategorienummer</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="vlgnr">
		<xs:annotation>
			<xs:documentation>Attribuut dat verwijst naar het volgnummer van een resultaatsbeschrijving</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="tabposities">
		<xs:annotation>
			<xs:documentation>attribuut dat mogelijkheid bied tabposities uit te wisselen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="verwijzing.catalogus">
		<xs:annotation>
			<xs:documentation>Verwijzing naar een werkcategorie, een subwerkcategorie of een hoofdcode in de catalogus</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="wcat" use="required"/>
					<xs:attribute name="subwcat" use="optional"/>
					<xs:attribute name="vlgnr" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>Verwijzingen naar en binnen de Handleiding</xs:documentation>
	</xs:annotation>
	<xs:element name="verwijzing.handleiding">
		<xs:annotation>
			<xs:documentation>Verwijzing naar de Handleiding</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="hfd" use="optional"/>
					<xs:attribute ref="dlhfd" use="optional"/>
					<xs:attribute ref="parguid"/>
					<xs:attribute ref="kop1guid"/>
					<xs:attribute ref="kop2guid"/>
					<xs:attribute ref="kop3guid"/>
					<xs:attribute ref="kop4guid"/>
					<xs:attribute ref="hnltekstguid"/>
					<xs:attribute ref="bijlageguid"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="parguid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van de paragraaf waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="kop1guid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van kop1 waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="kop2guid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van kop3 waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="kop3guid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van kop3 waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="kop4guid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van kop4 waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="hnltekstguid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van hnl.tekst waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="bijlageguid" type="guid">
		<xs:annotation>
			<xs:documentation>De guid van een bijlage in de handleiding waarnaar wordt verwezen</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:annotation>
		<xs:documentation>
    ================== Systeemgebonden artikel elementen =====================  
 </xs:documentation>
	</xs:annotation>
	<xs:element name="hoofdstuk.nr0109">
		<xs:annotation>
			<xs:documentation>Nummer van een hoofdstuk van 01 t/m 09. </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="2"/>
				<xs:enumeration value="01"/>
				<xs:enumeration value="02"/>
				<xs:enumeration value="03"/>
				<xs:enumeration value="04"/>
				<xs:enumeration value="05"/>
				<xs:enumeration value="06"/>
				<xs:enumeration value="07"/>
				<xs:enumeration value="08"/>
				<xs:enumeration value="09"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hoofdstuk.nr02">
		<xs:annotation>
			<xs:documentation>Nummer van een hoofdstuk 02 (altijd vaste waarde 02)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="hoofdstuk.nr1099" type="gen.codetweecijferspeciaal">
		<xs:annotation>
			<xs:documentation>Nummer van een hoofdstuk van 10 t/m 99</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="hoofdstuk.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>naam van een hoofdstuk</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="deelhoofdstuk.nr" type="gen.codeeencijferalgemeen" default="0">
		<xs:annotation>
			<xs:documentation>Nummer van een deelhoofdstuk</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="deelhoofdstuk.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>naam van een deelhoofdstuk</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paragraaf1.nr">
		<xs:annotation>
			<xs:documentation>Nummer van een paragraaf (eencijferig en voorafgegaan door deelhoofdstuknr)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="Character">
				<xs:pattern value="[1-7]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paragraaf2.nr">
		<xs:annotation>
			<xs:documentation>Nummer van een paragraaf (tweecijferig)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
				<xs:pattern value="[0-9][0-9]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paragraaf.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>naam van een paragraaf</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paragraaf.leeg" type="xs:string" fixed="(In deze Standaard zijn geen bepalingen opgenomen, behorend tot deze paragraaf.)">
		<xs:annotation>
			<xs:documentation>Tekst indien bij een paragraaf geen tekst is opgenomen</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="artikel.nr" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>Artikelnummer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="artikel.hoofd" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>naam van een artikel</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proef.nr">
		<xs:annotation>
			<xs:documentation>Proefnummer</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
				<xs:pattern value="[1-9][0-9]{0,2}(\.([1-9][0-9]?|0)|A|B)?"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="proef.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>naam van een proef</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="lid.nr" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>lid.nr</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Elementen voor systematiekspecifieke toevoegingen aan tabellen en figuren =====================  
 </xs:documentation>
	</xs:annotation>
	<xs:element name="tabel.volgnr" type="gen.codeeenoftweecijfer">
		<xs:annotation>
			<xs:documentation>Volgnummer van een tabel</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tabel.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>Beschrijving of naam bij een tabel</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tabel.voettekst" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>Voettekst bij een tabel</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="figuur.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>Beschrijving of naam bij een figuur</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tabel.aanduiding">
		<xs:annotation>
			<xs:documentation>tabel.aanduiding: nummer en naam van een tabel.
Hoofdstuknummer en tabelnummer zijn niet verplicht. In de Handleiding komen tabellen voor met alleen een naam.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element ref="hoofdstuk.nr0109"/>
					<xs:element ref="proef.nr"/>
					<xs:element ref="hoofdstuk.nr1099"/>
				</xs:choice>
				<xs:element ref="tabel.volgnr" minOccurs="0"/>
				<xs:element ref="tabel.naam"/>
				<xs:element ref="tabel.voettekst" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Catalogus attributen =====================  
		</xs:documentation>
	</xs:annotation>
	<xs:attribute name="lengte" type="xs:positiveInteger">
		<xs:annotation>
			<xs:documentation>Lengte van een door de gebruiker in te voeren tekst of waarde</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:annotation>
		<xs:documentation>
    ================== Catalogus elementen =====================  
	 </xs:documentation>
	</xs:annotation>
	<xs:element name="werkcategorie.nr" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>RAW-werkcategorienummer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="werkcategorie.naam" type="gen.naamkort">
		<xs:annotation>
			<xs:documentation>Naam van een RAW-werkcategorie</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="subwerkcategorie.naam" type="gen.naamkort">
		<xs:annotation>
			<xs:documentation>Naam van een RAW-subwerkcategorie</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="hoofdcode.volgnr" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>RAW-hoofdcodevolgnummer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="romptekst" type="gen.naamkort" nillable="false">
		<xs:annotation>
			<xs:documentation>de verkorte naam (romptekst) van een RAW-hoofdcodevan een overeenkomst of de omschrijving van een staartpost</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="subwerkcategorie.nr" type="gen.codetweecijferalgemeen">
		<xs:annotation>
			<xs:documentation>RAW-subwerkcategorienummer</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="hoofdcode.hoofdtekst" type="hoofdcode.hoofdtekst" nillable="false">
		<xs:annotation>
			<xs:documentation>de (uitgebreide) naam van een RAW-hoofdcode</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="hoofdcode.tekstblok" type="tekstblok.catalogus">
		<xs:annotation>
			<xs:documentation>Het blok binnen een hoofdcode voorafgaand aan de deficode</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="bestekschrijvers.invultekst">
		<xs:annotation>
			<xs:documentation>Element waarbinnen de bestekschrijver kleine stukjes eigen tekst kan invullen</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lengte" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:positiveInteger"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bestekschrijvers.vrijetekst">
		<xs:annotation>
			<xs:documentation>Element waarbinnen de bestekschrijver eigen tekst kan invullen</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="tekstblok.eenvoudig">
					<xs:attribute name="lengte" type="xs:positiveInteger" default="500"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deficode.positie">
		<xs:annotation>
			<xs:documentation>Alle deficode-inhouden binnen één positieworden binnen dit element gegroepeerd</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="deficode.inhoud" maxOccurs="99"/>
				<xs:element ref="aanwijzings.tekst" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="positienr" type="deficode.positienr" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="deficode.inhoud" nillable="false">
		<xs:annotation>
			<xs:documentation>Inhoud van een deficode</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:extension base="tekstblok.catalogus">
					<xs:attribute name="inhoudnr" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:maxLength value="2"/>
								<xs:pattern value="(-)|[1-8]([1-8])*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>   ================== Bouwstof elementen =====================  
	 </xs:documentation>
	</xs:annotation>
	<xs:element name="bouwstof">
		<xs:annotation>
			<xs:documentation>aanduiding van een bouwstof</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bouwstof.omschr"/>
				<xs:element ref="eenheid"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bouwstof.omschr" type="tekstblok.catalogus">
		<xs:annotation>
			<xs:documentation>omschrijving van een bouwstof</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>=================== Handleiding elementen ===================</xs:documentation>
	</xs:annotation>
	<xs:element name="hnl.tekst" type="tekstblok.hnl">
		<xs:annotation>
			<xs:documentation> handleidingtekst gekoppeld aan de boom</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
			================== Formule elementen =====================
		</xs:documentation>
	</xs:annotation>
	<xs:element name="formule">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="mathml"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mathml">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="m:math"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="proeven2025">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="proef.nr"/>
				<xs:element ref="proef.naam" maxOccurs="unbounded"/>
				<xs:element ref="versie.informatie" minOccurs="0"/>
				<xs:element ref="paragraafproef2025" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="proef.bijzonderheden" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="paragraafproef2025">
		<xs:annotation>
			<xs:documentation>Paragraaf van de 11 deling in de proeven</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="proefparagraafnr2025"/>
				<xs:element ref="paragraaf.naam"/>
				<xs:element ref="proeftekst"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="proefparagraafnr2025" type="gen.codeeenoftweecijfer">
		<xs:annotation>
			<xs:documentation>nummer van de 11 deling in de proeven</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="proef.bijzonderheden">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraaf.naam"/>
				<xs:element ref="proeftekst"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="proeftekst" type="tekstblok.vrij"/>
</xs:schema>
