RAWSTD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 (x64) (http://www.altova.com) by Daoud Urdu (CROW) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mml="http://www.w3.org/1998/Math/MathML" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.60 27/03/2026">
	<xs:include schemaLocation="RAWBPL.xsd"/>
	<xs:annotation>
		<xs:documentation>
    ================== Elementen voor proeven en het hoofdstuk proeven =====================  
   </xs:documentation>
	</xs:annotation>
	<xs:element name="std.proeftoelichting" type="tekstblok.vrij">
		<xs:annotation>
			<xs:documentation>toelichting bij een proef</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="std.Bijlage">
		<xs:annotation>
			<xs:documentation>Definitie van Bijlage voor proeven. Komt in deze vorm (met proefdefinities) alleen voor in de Standaard</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bijlage.nr"/>
				<xs:element ref="bijlage.naam"/>
				<xs:element ref="versie.info.boom" minOccurs="0"/>
				<xs:element ref="bpl.algemenetekst" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Elementen voor titels, voorwoorden, bijlagen e.d.  =========  
   </xs:documentation>
	</xs:annotation>
	<xs:element name="std.naam" type="tekstblok.naamlang">
		<xs:annotation>
			<xs:documentation>Titel tbv vooorwoord, leeswijzer ed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="std.tekstvrij" type="tekstblok.vrij">
		<xs:annotation>
			<xs:documentation>Vrije tekst voor voorwoord, leeswijzer etc</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="std.algemenetekst">
		<xs:annotation>
			<xs:documentation>Combinatie van titel en vrije tekst tbv voorwoord, leeswijzer e.d.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="std.naam"/>
				<xs:element ref="std.tekstvrij"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>
    ================== Elementen voor de complete standaard  =================  
   </xs:documentation>
	</xs:annotation>
	<xs:element name="std.compleet">
		<xs:annotation>
			<xs:documentation>De complete Standaard</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="std.algemenetekst" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="bpl.hoofdstuk0109" minOccurs="0" maxOccurs="9"/>
				<xs:element ref="bpl.hoofdstuk1099" minOccurs="0" maxOccurs="99"/>
				<xs:element ref="std.hoofdstuk02" minOccurs="0"/>
				<xs:element ref="std.Bijlage" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Bijlagen in de Standaard, zoals UAV, altemene voorwaarden enz.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
